In [7]:
import pandas as pd
import funciones
from funciones import tasa
monto=3600
plazo=12
print(f"Tasa de interes {tasa}")

Tasa de interes 0.02

In [3]:
def get_cuota (monto,plazo,tasa):
    cuota=monto*((tasa*(1+tasa)**plazo)/((1+tasa)**(plazo)-1))
    return cuota
get_cuota(monto,plazo,tasa)

340.41454784262515

In [4]:
cuota=get_cuota(monto,plazo,tasa)

In [5]:
l_deuda = []
l_amort = []
l_inter = []
l_saldo = []
for t in range(plazo):
    inter = monto * tasa
    l_inter.append(round(inter,2))
    monto = monto * (1+tasa)
    l_deuda.append(round(monto,2))
    amorti = cuota - inter
    l_amort.append(round(amorti,2))
    monto = monto - cuota
    l_saldo.append(round(monto,2))

In [8]:
pd.DataFrame({'Saldo_ini':l_deuda,'Amort':l_amort,'Intereses':l_inter,'Saldo_fin':l_saldo})

    Saldo_ini   Amort  Intereses  Saldo_fin
0     3672.00  268.41      72.00    3331.59
1     3398.22  273.78      66.63    3057.80
2     3118.96  279.26      61.16    2778.54
3     2834.12  284.84      55.57    2493.70
4     2543.57  290.54      49.87    2203.16
5     2247.22  296.35      44.06    1906.81
6     1944.94  302.28      38.14    1604.53
7     1636.62  308.32      32.09    1296.21
8     1322.13  314.49      25.92     981.72
9     1001.35  320.78      19.63     660.94
10     674.15  327.20      13.22     333.74
11     340.41  333.74       6.67       0.00